# Espressif ESP32-S3 USB Serial/JTAG
SUBSYSTEM=="tty", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="1001", MODE="0660", GROUP="dialout", SYMLINK+="homemind-esp32"
SUBSYSTEM=="tty", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="0002", MODE="0660", GROUP="dialout", SYMLINK+="homemind-esp32"
